s2tbx-s2msi-reader/src/main/resources/schemas/PSD148/DICO/EUP-V14/DataAccess/item/item2A.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:item="https://psd-14.sentinel2.eo.esa.int/DICO/EUP-V14/DataAccess/item/"
targetNamespace="https://psd-14.sentinel2.eo.esa.int/DICO/EUP-V14/DataAccess/item/"
elementFormDefault="unqualified" attributeFormDefault="unqualified" version="14">
	<xs:include schemaLocation="item.xsd"/>
	<!--Granule ID (2A)-->
	<xs:simpleType name="GRANULE_ID_2A">
	<xs:annotation>
	<xs:documentation>Product Data Item identification</xs:documentation>
	</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMAGE_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/T[\w{Lu}_]{5}_\d{8}T\d{6}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_(1|2|6)0m"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_(1|2|6)0m"/>
		</xs:restriction>
	</xs:simpleType>
	<!--IMAGE_FILE-->
	<xs:simpleType name="IMAGE_FILE_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item file relative path</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/T[\w{Lu}_]{5}_\d{8}T\d{6}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
            <xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/L2A_T[\w{Lu}_]{5}_\d{8}T\d{6}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/IMG_DATA/R(1|2|6)0m/L2A_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
            <xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/QI_DATA/MSK_CLDPRB_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/QI_DATA/MSK_SNWPRB_(1|2|6)0m"/>
            <xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/QI_DATA/L2A_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
            <xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/AUX_DATA/L2A_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Tile ID (L2A)-->
	<xs:simpleType name="TILE_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--PVI ID-->
	<xs:simpleType name="PVI_ID_2A">
		<xs:annotation>
			<xs:documentation>Preview Image identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="T[\w{Lu}_]{5}_\d{8}T\d{6}_PVI"/>
			<xs:pattern value="GRANULE/L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}/QI_DATA/T[\w{Lu}_]{5}_\d{8}T\d{6}_PVI.jp2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Datastrip ID (L0/L1A/L1B/L1C)-->
	<xs:simpleType name="DATASTRIP_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--GIPP-->
	<xs:simpleType name="GIPP_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--DEM-->
	<xs:simpleType name="DEM_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--GRI-->
	<xs:simpleType name="GRI_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--IERS-->
	<xs:simpleType name="IERS_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--POD -->
	<xs:simpleType name="POD_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--ECMWF-->
	<xs:simpleType name="ECMWF_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--HKTM-->
	<xs:simpleType name="HKTM_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_OPER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Partial SAD ID-->
	<xs:simpleType name="SAD_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Global SAD ID-->
	<xs:simpleType name="GLOBAL_SAD_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--DATATAKE_ID_2A-->
	<xs:simpleType name="DATATAKE_ID_2A">
		<xs:annotation>
			<xs:documentation>Datatake identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GS2(A|B)_\d{8}T\d{6}_\d{6}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GRANULE_TILE_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="L2A_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--List of PDI_ID_2A-->
	<xs:simpleType name="PDI_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification list: Granule, Tile, Datastrip, GIPP, DEM, GRI, IERS, POD, ECMWF, HKTM, SAD)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_B(00|01|02|03|04|05|06|07|08|8A|09|10|11|12)"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_USER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_B(00|01|02|03|04|05|06|07|08|8A|09|10|11|12)"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<!-- S2PDGS EOF Naming Convention -->
			<!-- FOS Naming convention -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Product_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Identifier in the archive (auxiliary, DEM, GIPP,...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Item_ID_2A" final="union">
		<xs:annotation>
			<xs:documentation>a PDI_ID_2A or a Product ID</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="item:PDI_ID_2A item:Product_ID_2A"/>
	</xs:simpleType>
</xs:schema>
