s2tbx-reader-eop-gml/src/main/resources/OGC/omeo/1.0.0/sen1.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:sen1="http://www.opengis.net/sen1/2.0" xmlns:sar="http://www.opengis.net/sar/2.0" xmlns:eop="http://www.opengis.net/eop/2.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.opengis.net/sen1/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<annotation>
		<documentation>Sentinel-1 applicatiionn schema.
			
		Earth Observation Metadata profile of Observations and Measurements is an OGC Standard.
		Copyright (c) 2013 Open Geospatial Consortium. 
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<import namespace="http://www.opengis.net/eop/2.0" schemaLocation="eop.xsd"/>
	<import namespace="http://www.opengis.net/sar/2.0" schemaLocation="sar.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd" />
	<!-- ====================================================================== -->
	<element name="EarthObservation" type="sen1:EarthObservationType" substitutionGroup="sar:EarthObservation">
		<annotation>
			<documentation>eop root element for Sentinel-1 Earth Observation Product</documentation>
		</annotation>
	</element>
	<element name="EarthObservationResult" type="sen1:EarthObservationResultType" substitutionGroup="eop:EarthObservationResult">
		<annotation>
			<documentation>Extends EarthObservationResult for Sentinel-1 products</documentation>
		</annotation>
	</element>
	<element name="Acquisition" type="sen1:AcquisitionType" substitutionGroup="sar:Acquisition">
		<annotation>
			<documentation>Extends sar Acquisition for Sentinel-1 products</documentation>
		</annotation>
	</element>
	<!-- <element name="resultQuality" type="sen1:DQ_Element_PropertyType" substitutionGroup="eop:resultQuality">
		<annotation>
			<documentation>Extends sar Acquisition for Sentinel-1 products</documentation>
		</annotation>
	</element> -->
	<element name="EarthObservationMetadata" type="sen1:EarthObservationMetadataType" substitutionGroup="eop:EarthObservationMetaData">
		<annotation>
			<documentation>Extends EOP EarthObservationMetadata for Sentinel-1 products</documentation>
		</annotation>
	</element>
	<complexType name="EarthObservationMetadataType">
		<complexContent>
			<extension base="eop:EarthObservationMetaDataType">
				<sequence>
					<element name="parentIdentifier" type="string">
						<annotation>
							<documentation>Collection Identifier</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthObservationMetadataPropertyType">
		<sequence>
			<element ref="sen1:EarthObservationMetadata"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<!--=======================================-->
	<!--===== Sentinel-1 Complex Types Section ======-->
	<!--=======================================-->
	<complexType name="EarthObservationType">
		<complexContent>
			<extension base="sar:EarthObservationType"/>
		</complexContent>
	</complexType>
	<complexType name="EarthObservationPropertyType">
		<sequence minOccurs="0">
			<element ref="sen1:EarthObservation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="EarthObservationResultType">
		<complexContent>
			<extension base="eop:EarthObservationResultType">
				<sequence>
					<element name="timeliness" type="sen1:TimelinessType" minOccurs="0">
						<annotation>
							<documentation>Products Timeliness</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthObservationResultPropertyType">
		<sequence minOccurs="0">
			<element ref="sen1:EarthObservationResult"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="AcquisitionType">
		<complexContent>
			<extension base="sar:AcquisitionType">
				<sequence>
					<element name="polarisationMode" type="sen1:PolarisationModeValueType" minOccurs="0">
						<annotation>
							<documentation>single S, dual D</documentation>
						</annotation>
					</element>
					<element name="polarisationChannels" type="sen1:PolarisationChannelsValueType" minOccurs="0">
						<annotation>
							<documentation>Polarisation channel transmit/receive configuration: horizontal, vertical.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AcquisitionPropertyType">
		<sequence>
			<element ref="sen1:Acquisition"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="QualityDisclaimerType">
		<annotation>
			<documentation>Quality Disclaimer</documentation>
		</annotation>
		<sequence>
			<element name="OQC_Failed" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Set if the OQC check failed.</documentation>
				</annotation>
			</element>
			<element name="OQC_Updated" type="boolean" minOccurs="0">
				<annotation>
					<documentation>Set if the OQC_Failed parameter have been overwritten by the Off-line QC result.</documentation>
				</annotation>
			</element>
			<element name="OffQC_Result" type="sen1:QCResultType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The result of the Off-line QC check</documentation>
				</annotation>
			</element>
			<element name="OffQC_Description" type="string" nillable="false" minOccurs="0">
				<annotation>
					<documentation>Additional information related to the performed Off-line QC.</documentation>
				</annotation>
			</element>
			<element name="Disclaimer" type="anyURI" minOccurs="0">
				<annotation>
					<documentation>URI (either URL or URN) referencing the applicable Disclaimer, if any.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DQ_Element_PropertyType">
		<complexContent>
			<extension base="gmd:DQ_Element_PropertyType">
				<sequence>
					<element name="qualityDisclaimer" type="sen1:QualityDisclaimerType" minOccurs="0">
						<annotation>
							<documentation>Quality Disclaimer</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--=======================================-->
	<!--==== Sentinel-1 Simple Types Section ========-->
	<!--=======================================-->
	<simpleType name="PolarisationChannelsValueType">
		<union memberTypes="sen1:PolarisationChannelsValueEnumerationType sen1:PolarisationChannelsValueOtherType"/>
	</simpleType>
	<simpleType name="PolarisationChannelsValueEnumerationType">
		<restriction base="string">
			<enumeration value="UNDEFINED"/>
			<enumeration value="HH"/>
			<enumeration value="HV"/>
			<enumeration value="HH, HV"/>
			<enumeration value="VV, VH"/>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationChannelsValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationModeValueType">
		<union memberTypes="sen1:PolarisationModeValueEnumerationType sen1:PolarisationModeValueOtherType"/>
	</simpleType>
	<simpleType name="PolarisationModeValueEnumerationType">
		<restriction base="string">
			<enumeration value="UNDEFINED">
				<annotation>
					<documentation>Mode undefined </documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Single mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Dual mode</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationModeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="TimelinessType">
		<annotation>
			<documentation>Dissemination Timeliness</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="NRT_10M">
				<annotation>
					<documentation>available within 10 min after sensing (for Pass-Through acquisitions only)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NRT_1H">
				<annotation>
					<documentation>Products available at pickup points within 1 hour after sensing (for Pass-Through acquisitions only)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NRT_3H">
				<annotation>
					<documentation>Products available at pickup points within 3 hours after sensing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FAST_24H">
				<annotation>
					<documentation>Products available at pickup points within 24 hours after sensing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ARCH_6H">
				<annotation>
					<documentation>Archived products shall be available at pickup points within 6h from data request (acknowledgement of)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ARCH_RUSH">
				<annotation>
					<documentation>Products shall be available at pickup points within 1.5 hours after data request directly from Sentinel-1 S1 PDGS mission archives, if possible, or as result of further re-processing from the archived Level-0 data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ARCH_NORMAL">
				<annotation>
					<documentation>Products are retrieved directly from Level-1/Level-2 Sentinel-1 S1 PDGS mission archive (if available) or are processed from archived Level-0 data. In any case, products shall be made available within 7 days after data request (for media delivery) or within 24 hours (for electronic delivery)</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="QCResultType">
		<annotation>
			<documentation>QC Result Types</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="NOMINAL_DATA_QUALITY"/>
			<enumeration value="DEGRADED_PRODUCT_RADIOMETRY"/>
			<enumeration value="DEGRADED_PRODUCT_GEOLOCATION"/>
			<enumeration value="DEGRADED_RADIOMETRIC_CALIBRATION"/>
			<enumeration value="DEGRADED_PLATFORM_POINTING"/>
			<enumeration value="DEGRADED_ORBIT_CONTROL"/>
			<enumeration value="DEGRADED_PERFORMANCE_INSTRUMENT_ANOMALY"/>
			<enumeration value="COMPLETE_PRODUCT_DEGRADATION"/>
			<enumeration value="SLICE_PRODUCT_NON_CONCATENABLE"/>
		</restriction>
	</simpleType>
</schema>
