s2tbx-s2msi-reader/src/main/resources/schemas/L2HF_PSD14/DICO/PDI-V14/DataAccess/item/item2HF.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:item="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/DataAccess/item/" targetNamespace="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/DataAccess/item/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="14">
	<xs:include schemaLocation="item.xsd"/>
	<!--Granule ID (2HF)-->
	<xs:simpleType name="GRANULE_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMAGE_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_B\d{2}_(1|2|3)(0|5)m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_[A-Z]{3}_(1|2|6)0m"/>
		</xs:restriction>
	</xs:simpleType>
	<!--IMAGE_FILE-->
	<xs:simpleType name="IMAGE_FILE_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item file relative path</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/MSK_CLDPRB_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/MSK_SNWPRB_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/MSK_VALPXL_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/AUX_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_B(8A|\d{2})_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/IMG_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/QI_DATA/MSK_CLDPRB_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/QI_DATA/MSK_SNWPRB_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/QI_DATA/MSK_VALPXL_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/AUX_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_[A-Z]{3}_(1|2|6)0m"/>
			<!--Sentinel-2 bands-->
			<!--Sentinel-2 secondary outputs SCL, AOT, WVP-->
			<!--Sentinel-2 Cloud Probability Mask-->
			<!--Sentinel-2 Snow Probability Mask-->
			<!--Sentinel-2 Simplified Valid Pixel Mask-->
			<!--Sentinel-2 QI outputs-->
			<!--Sentinel-2 AUX_DATA outputs, e.g. DEM-->
			<!--Landsat-8/9 bands-->
			<!--Landsat-8/9 secondary outputs SCL, AOT, WVP-->
			<!--Landsat-8/9 Cloud Probability Mask-->
			<!--Landsat-8/9 Snow Probability Mask-->
			<!--Landsat-8/9 Simplified Valid Pixel Mask-->
			<!--Landsat-8/9 QI outputs-->
			<!--Landsat-8/9 AUX_DATA outputs, e.g. DEM-->
		</xs:restriction>
	</xs:simpleType>
	<!--Tile ID (L1 no pattern to allow TPM like Landsat-8)-->
	<xs:simpleType name="TILE_ID_1">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Tile ID (L2A)-->
	<xs:simpleType name="TILE_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="NONE"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Tile ID (L2HF)-->
	<xs:simpleType name="TILE_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--PVI ID-->
	<xs:simpleType name="PVI_ID_2HF">
		<xs:annotation>
			<xs:documentation>Preview Image identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_PVI"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_PVI"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_PVI"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_PVI"/>
		</xs:restriction>
	</xs:simpleType>
	<!--QL_B432 ID-->
	<xs:simpleType name="QL_B432_ID_2HF">
		<xs:annotation>
			<xs:documentation>Quicklook Band 4-3-2 Image identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_QL_B432"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_QL_B432"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_QL_B432"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_QL_B432"/>
		</xs:restriction>
	</xs:simpleType>
	<!--QL_B12118A ID-->
	<xs:simpleType name="QL_B12118A_ID_2HF">
		<xs:annotation>
			<xs:documentation>Quicklook Band 12-11-8A Image identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_QL_B12118A"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_S2(A|B)_R\d{3}_QL_B12118A"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_QL_B12118A"/>
			<xs:pattern value="GRANULE/L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_S2(A|B)_R\d{3}/QI_DATA/L2(H|F)_T[\w{Lu}_]{5}_\d{8}T\d{6}_LS(8|9)_R\d{3}_QL_B12118A"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Datastrip ID (L0/L1A/L1B/L1C)-->
	<xs:simpleType name="DATASTRIP_ID_2A">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2} S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--GIPP-->
	<xs:simpleType name="GIPP_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--DEM-->
	<xs:simpleType name="DEM_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--GRI-->
	<xs:simpleType name="GRI_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--IERS-->
	<xs:simpleType name="IERS_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--POD -->
	<xs:simpleType name="POD_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--ECMWF-->
	<xs:simpleType name="ECMWF_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2[AB_]_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2[AB_]_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--HKTM-->
	<xs:simpleType name="HKTM_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_OPER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Partial SAD ID-->
	<xs:simpleType name="SAD_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Global SAD ID-->
	<xs:simpleType name="GLOBAL_SAD_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--DATATAKE_ID_2HF-->
	<xs:simpleType name="DATATAKE_ID_2HF">
		<xs:annotation>
			<xs:documentation>Datatake identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="GS2(A|B)_\d{8}T\d{6}_\d{6}_N\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GRANULE_TILE_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A000000_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A000000_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--List of PDI_ID_2HF-->
	<xs:simpleType name="PDI_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Data Item identification list: Granule, Tile, Datastrip, GIPP, DEM, GRI, IERS, POD, ECMWF, HKTM, SAD)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_B(00|01|02|03|04|05|06|07|08|8A|09|10|11|12)"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_USER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_USER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_B(00|01|02|03|04|05|06|07|08|8A|09|10|11|12)"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}"/>
			<xs:pattern value="S2(A|B)_OPER_PRD_HKTM___\d{8}T\d{6}_\d{8}T\d{6}_\d{4}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="S2(A|B)_OPER_AUX_DATA_[\w{Lu}_]{4}_\d{8}T\d{6}_V\d{8}T\d{6}_\d{8}T\d{6}_A[\w{Lu}_]{6}_W[FP]_L[ND]"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_A\d{6}_\d{8}T\d{6}_S2(A|B)_R\d{3}"/>
			<xs:pattern value="L2(H|F)_T[\w{Lu}_]{5}_A000000_\d{8}T\d{6}_LS(8|9)_R\d{3}"/>
			<xs:pattern value="S2(A|B)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_USER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A000000_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<xs:pattern value="LS(8|9)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A000000_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
			<!--Sentinel-2-->
			<!-- S2PDGS EOF Naming Convention -->
			<!-- FOS Naming convention -->
			<!--Sentinel-2 GRANULE-->
			<!--Landsat-8/9 GRANULE-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Product_ID_2HF">
		<xs:annotation>
			<xs:documentation>Product Identifier in the archive (auxiliary, DEM, GIPP,...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Item_ID_2HF" final="union">
		<xs:annotation>
			<xs:documentation>a PDI_ID_2HF or a Product ID</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="item:PDI_ID_2HF item:Product_ID_2HF"/>
	</xs:simpleType>
</xs:schema>
