s2tbx-s2msi-reader/src/main/resources/schemas/L3_PSD131/DICO/13/PDGS/dimap/dimap3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Yasar Kurt (Telespazio VEGA Deutschland GmbH) -->
<xs:schema xmlns:gs2="https://psd-13.sentinel2.eo.esa.int/doc/13/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:center="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/center/" xmlns:image="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/image/" xmlns:date_time="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/date_time/" xmlns:base="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/base/" xmlns:orbital="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/orbital/" xmlns:platform="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/platform/" xmlns:misc="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/misc/" xmlns:geographical="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/geographical/" xmlns:spatio="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/spatio/" xmlns:tile="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/tile/" xmlns:representation="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/representation/" xmlns:item="https://psd-13.sentinel2.eo.esa.int/DICO/13/DataAccess/item/" xmlns:dimap="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/dimap/" targetNamespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/dimap/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="13">
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/image/" schemaLocation="../../SY/image/image.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/date_time/" schemaLocation="../../SY/date_time/date_time.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/base/" schemaLocation="../base/base.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/PDGS/center/" schemaLocation="../center/center.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/orbital/" schemaLocation="../../SY/orbital/orbital.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/platform/" schemaLocation="../../SY/platform/platform.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/misc/" schemaLocation="../../SY/misc/misc.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/geographical/" schemaLocation="../../SY/geographical/geographical.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/spatio/" schemaLocation="../../SY/spatio/spatio.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/tile/" schemaLocation="../../SY/tile/tile.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/SY/representation/" schemaLocation="../../SY/representation/representation.xsd"/>
	<xs:import namespace="https://psd-13.sentinel2.eo.esa.int/DICO/13/DataAccess/item/" schemaLocation="../../DataAccess/item/item3.xsd"/>
	<xs:include schemaLocation="../dimap/dimap2A.xsd"/>
	<xs:complexType name="A_GIPP_LIST_3">
		<xs:sequence>
			<xs:element name="GIPP_FILENAME" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>GIPP file name</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="item:GIPP_ID_3">
							<xs:attribute name="version" type="xs:string"/>
							<xs:attribute name="type" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_PRODUCT_ORGANIZATION_3">
		<xs:annotation>
			<xs:documentation>General PDGS Product Information on Level 3</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Granules">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IMAGE_ID_3" maxOccurs="unbounded" minOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="item:IMAGE_ID_3"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="datastripIdentifier" type="item:DATASTRIP_ID_3"/>
					<xs:attribute name="granuleIdentifier" type="item:GRANULE_TILE_ID_3"/>
					<xs:attribute name="imageFormat">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="JPEG2000"/>
								<xs:enumeration value="BINARY"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_L3_Product_Info">
		<xs:annotation>
			<xs:documentation>General PDGS Product Information on Level 3</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PRODUCT_START_TIME">
				<xs:annotation>
					<xs:documentation>Actual User Product start time defined as the Sensing Time of the first line of the first scene in the product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRODUCT_STOP_TIME">
				<xs:annotation>
					<xs:documentation>Actual User Product stop time defined as the Sensing Time of the first line of the last scene in the product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRODUCT_URI" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>User-Product URI. This is the User-Product URI resolved and provided by ngEO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROCESSING_LEVEL">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Level-3p"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PRODUCT_TYPE">
				<xs:annotation>
					<xs:documentation>Product Type Identifier</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="S2MSI3p"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PROCESSING_BASELINE" type="dimap:A_PROCESSING_BASELINE_IDENTIFICATION"/>
			<xs:element name="PROCESSING_ALGORITHM">
				<xs:annotation>
					<xs:documentation>The user selected algorithm:(1) Most Recent, (2) Temporal Homogeneity, (3) Radiometric Quality or (4) Average</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MOST_RECENT"/>
						<xs:enumeration value="TEMP_HOMOGENEITY"/>
						<xs:enumeration value="RADIOMETRIC_QUALITY"/>
						<xs:enumeration value="AVERAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RADIOMETRIC_PREFERENCE">
				<xs:annotation>
					<xs:documentation>Preference on (1) Aerosol Optical Thickness or (2) Solar Zenith Angle (only important if Radiometric Quality is selected as Algorithm)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AEROSOL_OPTICAL_THICKNESS"/>
						<xs:enumeration value="SOLAR_ZENITH_ANGLE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GENERATION_TIME" type="date_time:AN_UTC_DATE_TIME">
				<xs:annotation>
					<xs:documentation>DAG Generation Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREVIEW_IMAGE_URL">
				<xs:annotation>
					<xs:documentation>Link to the preview image URL</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anyURI"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PREVIEW_GEO_INFO" type="xs:string">
				<xs:annotation>
					<xs:documentation>Preview georeferencing information. Coordinate system / datum used for specifying the georeferencing information supplied with the Browse Image.
Examples: EPSG:4326, RAW</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datatake" type="dimap:A_DATATAKE_IDENTIFICATION">
				<xs:annotation>
					<xs:documentation>General information about the MSI datatake</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="L3_Product_Organisation">
				<xs:annotation>
					<xs:documentation>Logical map of the elements compounding the Level 3 User Product</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Granule_List" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="dimap:A_PRODUCT_ORGANIZATION_3"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_PRODUCT_INFO_USERL3">
		<xs:annotation>
			<xs:documentation>General PDGS Product Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="L3_Product_Info" type="dimap:A_L3_Product_Info">
				<xs:annotation>
					<xs:documentation>Common general Product Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="L3_Product_Image_Characteristics">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Special_Values" type="dimap:A_SPECIAL_VALUES" minOccurs="2" maxOccurs="2">
							<xs:annotation>
								<xs:documentation>Special values encoding (NO_DATA, SATURATION) for BOA reflectance image data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Image_Display_Order" type="dimap:A_BAND_DISPLAY_ORDER">
							<xs:annotation>
								<xs:documentation>Relation between product image channels and on board spectral bands</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="L1C_L2A_Quantification_Values_List" type="dimap:A_L1C_L2A_QUANTIFICATION_VALUES_LIST">
							<xs:annotation>
								<xs:documentation>A list of L1C, L2A quantification values for digital counts on pixel level</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reflectance_Conversion">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="U" type="xs:double">
										<xs:annotation>
											<xs:documentation>Correction to take into account the Sun-Earth distance variation (this correction is computed using the acquisition date)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Solar_Irradiance_List">
										<xs:annotation>
											<xs:documentation>Reflectance parameters for each band</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SOLAR_IRRADIANCE" maxOccurs="13">
													<xs:annotation>
														<xs:documentation>Equivalent solar irradiance</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:double">
																<xs:attribute name="bandId" type="image:A_BAND_NUMBER" use="required"/>
																<xs:attribute name="unit" type="xs:string" use="required" fixed="W/m²/µm"/>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
	                                   </xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Spectral_Information_List" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Spectral information which provided by the GIPP  ABSOLUTE_CALIBRATION</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Spectral_Information" maxOccurs="13">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RESOLUTION" type="image:A_BAND_RESOLUTION"/>
												<xs:element name="Wavelength">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="MIN" type="misc:A_DOUBLE_WITH_NM_ATTR"/>
															<xs:element name="MAX" type="misc:A_DOUBLE_WITH_NM_ATTR"/>
															<xs:element name="CENTRAL" type="misc:A_DOUBLE_WITH_NM_ATTR"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Spectral_Response">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="STEP" type="misc:A_DOUBLE_WITH_NM_ATTR"/>
															<xs:element name="VALUES" type="misc:A_LIST_OF_DOUBLE">
																<xs:annotation>
																	<xs:documentation>List of measures</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="physicalBand" type="image:A_PHYSICAL_BAND_NAME" use="required"/>
											<xs:attribute name="bandId" type="image:A_BAND_NUMBER" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PHYSICAL_GAINS" maxOccurs="13">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:double">
										<xs:attribute name="bandId" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="6"/>
													<xs:enumeration value="7"/>
													<xs:enumeration value="8"/>
													<xs:enumeration value="9"/>
													<xs:enumeration value="10"/>
													<xs:enumeration value="11"/>
													<xs:enumeration value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="REFERENCE_BAND" type="xs:int"/>
						<xs:element name="L3_Scene_Classification_List" type="dimap:A_L3_SCENE_CLASSIFICATION_LIST"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_L3_SCENE_CLASSIFICATION_LIST">
		<xs:annotation>
			<xs:documentation>A list of L3 Scene Classification IDs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="L3_Scene_Classification_ID" type="dimap:A_L3_SCENE_CLASSIFICATION_ID" minOccurs="12" maxOccurs="12">
				<xs:annotation>
					<xs:documentation>L3 Scene Classification IDs encoding (SC_NODATA, SC_NODATA, SC_SATURATED_DEFECTIVE, SC_DARK_FEATURE_SHADOW, SC_CLOUD_SHADOW, SC_VEGETATION, SC_BARE_SOIL_DESERT, SC_WATER, SC_CLOUD_LOW_PROBA, SC_CLOUD_MEDIUM_PROBA, SC_CLOUD_HIGH_PROBA, SC_THIN_CIRRUS, SC_SNOW_ICE)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_L3_SCENE_CLASSIFICATION_ID">
		<xs:annotation>
			<xs:documentation>Pixel values assigned to L3 Scene Classification Image Data </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="L3_SCENE_CLASSIFICATION_TEXT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SC_NODATA"/>
						<xs:enumeration value="SC_SATURATED_DEFECTIVE"/>
						<xs:enumeration value="SC_DARK_FEATURE_SHADOW"/>
						<xs:enumeration value="SC_CLOUD_SHADOW"/>
						<xs:enumeration value="SC_VEGETATION"/>
						<xs:enumeration value="SC_BARE_SOIL_DESERT"/>
						<xs:enumeration value="SC_WATER"/>
						<xs:enumeration value="SC_CLOUD_LOW_PROBA"/>
						<xs:enumeration value="SC_CLOUD_MEDIUM_PROBA"/>
						<xs:enumeration value="SC_CLOUD_HIGH_PROBA"/>
						<xs:enumeration value="SC_THIN_CIRRUS"/>
						<xs:enumeration value="SC_SNOW_ICE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="L3_SCENE_CLASSIFICATION_INDEX" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_QUALITY_INDICATORS_INFO_USERL3">
		<xs:annotation>
			<xs:documentation>Quality Indicators information on product level (L3 + L1C Technical assessment info)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="L3_Classification_QI"
				type="dimap:A_L3_IMAGE_CONTENT_QI" maxOccurs="3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Image content Quality Indicators (percentages of
						pixel type), inherited from L1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_GENERAL_INFO_L3">
		<xs:annotation>
			<xs:documentation>General information on L3 Tile</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TILE_ID_3">
				<xs:annotation>
					<xs:documentation>Unique Tile Identifier</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="item:TILE_ID_3">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Brief"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DATASTRIP_ID_3">
				<xs:annotation>
					<xs:documentation>Unique Identifier of a Sentinel2 datastrip</xs:documentation>
					<xs:appinfo>
						<xs:DOC>
							<xs:DEFINITION/>
						</xs:DOC>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="item:DATASTRIP_ID_3">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DOWNLINK_PRIORITY" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Downlink priority flag, can be set to NOMINAL, NRT or RT</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SENSING_TIME">
				<xs:annotation>
					<xs:documentation>Inherited from Level-0 metadata. This is the sensing start time of the Datatake (with precision in seconds)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="date_time:AN_UTC_DATE_TIME">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Archiving_Info" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="dimap:AN_ARCHIVE_IDENTIFICATION">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Expertise"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_QUALITY_INDICATORS_INFO_TILE_L3">
		<xs:annotation>
			<xs:documentation>Quality Indicators information on L3 tile and pixel level</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="L3_Pixel_Level_QI"
				type="dimap:A_L3_PIXEL_LEVEL_QI" maxOccurs="3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Pointer to the L3 Pixel Level QI files contained
						in the QI_DATA folder
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="L3_Classification_QI"
				type="dimap:A_L3_IMAGE_CONTENT_QI" maxOccurs="3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						QI of scene classification
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="L3_Mosaic_QI"
				type="dimap:A_L3_MOSAIC_LIST" maxOccurs="3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						List of QIs of tiles used for synthesis (mosaic)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
	</xs:complexType>
	<xs:complexType name="A_L3_IMAGE_CONTENT_QI">
		<xs:annotation>
			<xs:documentation>
				Image content Quality Indicators (percentages of pixel
				type)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TOTAL_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of all pixels of image
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DATA_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of all data pixels containing data
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DATA_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of all pixels containing data
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="NODATA_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of all pixels containing no data
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NODATA_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of all pixels containing no data
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="GOOD_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of all pixels containing 'good
						data'. 'Good data' is configurable by user
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOD_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of all pixels containing 'good data'.
						'Good data' is configurable by user
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="BAD_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of all pixels containing bad data'.
						Bad data' is configurable by user
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BAD_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of all pixels containing bad data'.
						Bad data' is configurable by user
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="SATURATED_DEFECTIVE_PIXEL_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of saturated or defective data
						pixels
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SATURATED_DEFECTIVE_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of saturated or defective data pixels
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="DARK_FEATURES_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as dark
						features or shadows
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DARK_FEATURES_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as dark
						features or shadows
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="CLOUD_SHADOWS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as cloud
						shadow
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CLOUD_SHADOWS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as cloud
						shadow
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="VEGETATION_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as
						vegetation
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VEGETATION_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as
						vegetation
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="BARE_SOILS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as bare
						soils
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BARE_SOILS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as bare
						soils
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="WATER_COUNT" type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as water
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WATER_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as water
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="LOW_PROBA_CLOUDS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as low
						probability clouds
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LOW_PROBA_CLOUDS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as low
						probability clouds
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="MEDIUM_PROBA_CLOUDS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as medium
						probability clouds
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MEDIUM_PROBA_CLOUDS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as medium
						probability clouds
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="HIGH_PROBA_CLOUDS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as high
						probability clouds
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HIGH_PROBA_CLOUDS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as high
						probability clouds
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="THIN_CIRRUS_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as thin
						cirrus clouds
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="THIN_CIRRUS_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as thin
						cirrus clouds
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="SNOW_ICE_COUNT"
				type="misc:A_POSITIVE_INT">
				<xs:annotation>
					<xs:documentation>
						Total count of data pixels classified as snow or
						ice
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNOW_ICE_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of data pixels classified as snow or
						ice
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="resolution" type="image:A_BAND_RESOLUTION" default="60"/>
	</xs:complexType>
	<xs:complexType name="A_L3_PIXEL_LEVEL_QI">
		<xs:annotation>
			<xs:documentation>
				Filenames of the mosaic and classification masks and
				mapping
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PVI_FILENAME" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Reference to PVI contained in the QI_DATA folder
					</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="L3_TILE_CLASSIFICATION_MASK" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Filename of the classification mask stored in
						the QI data folder
					</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="L3_TILE_MOSAIC_MASK" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Filename of the mosaic mask stored in the QI
						data folder
					</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
		<xs:attribute name="resolution" type="image:A_BAND_RESOLUTION" default="60"/>
	</xs:complexType>
	<xs:complexType name="A_L3_MOSAIC_CONTENT_QI">
		<xs:annotation>
			<xs:documentation>
				Quantification values of single tile id contributing to
				mosaic mask sythesizing the final L3 product
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>

			<xs:element name="PRODUCT_ID" type="item:Product_ID_2A"></xs:element>
			<xs:element name="TILE_ID" type="item:TILE_ID_2A">
				<xs:annotation>
					<xs:documentation>
						ID of tile used for synthesis
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TILE_PIXEL_COUNT"
				type="misc:A_POSITIVE_LONG">
				<xs:annotation>
					<xs:documentation>
						Count of pixels of tile contributing to mosaic
						mask
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TILE_PIXEL_PERCENTAGE"
				type="misc:A_PERCENTAGE">
				<xs:annotation>
					<xs:documentation>
						Percentage of pixels of tile contributing to
						mosaic mask
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TILE_DATE_TIME"
				type="date_time:AN_UTC_DATE_TIME">
				<xs:annotation>
					<xs:documentation>
						Timestamp of all pxels of tile contributing to
						mosaic mask
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TILE_AOT_MEAN" type="xs:double">
				<xs:annotation>
					<xs:documentation>
						Mean Aerosol Optical Thickness of tile
						contributing to mosaic mask
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TILE_SZA_MEAN"
				type="misc:A_DOUBLE_WITH_DEG_UNIT_ATTR">
				<xs:annotation>
					<xs:documentation>
						Mean Solar Zenith Angle of tile contributing to
						mosaic mask
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

		<xs:attribute name="tileNumber" type="misc:A_POSITIVE_INT"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="AN_AUXILIARY_DATA_INFO_USERL3">
		<xs:annotation>
			<xs:documentation>Auxiliary Data information L2A on product level</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aux_Data">
				<xs:annotation>
					<xs:documentation>References to the AUX_DATA items</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="L3_GIPP_LIST"
							type="dimap:A_GIPP_LIST_3" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AN_IMAGE_DATA_INFO_DSL1C_DSL3">
		<xs:annotation>
			<xs:documentation>List of L3 tiles + L1C Geometric and Radiometric info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tiles_Information">
				<xs:annotation>
					<xs:documentation>List of the tiles composing the whole datastrip.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tile_List">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Tile" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="tileId" type="item:TILE_ID_3" use="required">
												<xs:annotation>
													<xs:documentation>Tile Identifier</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
							<xs:unique name="tile_identifier_L3_unique">
								<xs:selector xpath="./Tile_Description/TILE_IDENTIFIER"/>
								<xs:field xpath="@TILE_IDENTIFIER"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Sensor_Configuration" type="dimap:A_SENSOR_CONFIGURATION">
				<xs:annotation>
					<xs:documentation>MSI Sensor configuration (Information from MSI telemetry)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radiometric_Info">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="dimap:A_RADIOMETRIC_DATA_L1C">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Geometric_Info">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="dimap:A_GEOMETRIC_DATA_DSL1C">
							<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Product_Compression" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COMPRESSION">
							<xs:annotation>
								<xs:documentation>Product Compression</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="NONE"/>
									<xs:enumeration value="LOSSY"/>
									<xs:enumeration value="LOSSLESS"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="metadataLevel" type="dimap:metadataLevel" fixed="Standard"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_L3_MOSAIC_LIST">
		<xs:sequence>
			<xs:element name="L3_Mosaic_Content" type="dimap:A_L3_MOSAIC_CONTENT_QI" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="resolution"
			type="image:A_BAND_RESOLUTION">
		</xs:attribute>
	</xs:complexType>
</xs:schema>
