s2tbx-rapideye-reader/src/main/resources/org/esa/s2tbx/dataio/rapideye/productMetadataSensor.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
========================================================================== 
File:     RapidEye_ProductMetadata_SensorLevel.xsd                            
Content:  Definition of metadata for RapidEye imagery. 
          Compliant to OGC GML 3.1.1 Application Schema for Earth 
          Observation Products Version 0.9.1 (2007-08-01).
          The XML schema extends the OGC schema definition:
           - Earth observation products (namespace "eop") -> 1st level
           - Optical EO products (namespace "opt")        -> 2nd level
          Note: the schema is designed for sensor level products.
Author:   Sebastian Paasche, Irina Sukhareva, Dennie Oberlatz
Date:     2013-03-19
Version:  4.0                                     

RapidEye AG, 2013
========================================================================== 
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.rapideye.de/products/productMetadataSensor"
           xmlns:gml="http://www.opengis.net/gml" xmlns:eop="http://earth.esa.int/eop"
           xmlns:opt="http://earth.esa.int/opt" xmlns:re="http://schemas.rapideye.de/products/productMetadataSensor"
           targetNamespace="http://schemas.rapideye.de/products/productMetadataSensor" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="4.0">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.rapideye.de/products/ogc/gml/3.1.1/base/gmlSubset.xsd"/>
	<xs:import namespace="http://earth.esa.int/eop" schemaLocation="http://schemas.rapideye.de/products/ogc/eop/1.2.1/eop.xsd"/>
	<xs:import namespace="http://earth.esa.int/opt" schemaLocation="http://schemas.rapideye.de/products/ogc/eop/1.2.1/opt.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://schemas.rapideye.de/products/ogc/xlink/1.0.0/xlinks.xsd"/>
	<xs:include schemaLocation="http://schemas.rapideye.de/PPS/regs_dataTypes.xsd"/>
	<xs:include schemaLocation="http://schemas.rapideye.de/PPS/redps_dataTypes.xsd"/>
	<xs:include schemaLocation="re_productMetadata_dataTypes.xsd"/>
	
	<!-- 
		=====================================================================
        RapidEye EarthObservation - inherits from opt:EarthObservation 
	    ===================================================================== 
	-->
	
	<xs:element name="EarthObservation" type="re:earthObservationType" substitutionGroup="opt:EarthObservation">
		<xs:annotation>
			<xs:documentation>Root element for RapidEye sensor level product description</xs:documentation>
		</xs:annotation>
	</xs:element>	
	
	<!-- 
		===================================================================== 
	    EarthObservationMetaData Feature :
	  		+ extends eop:EarthObservationMetadata
	    ===================================================================== 
	-->
	
	<xs:element name="EarthObservationMetaData" type="re:EarthObservationMetaDataType" substitutionGroup="eop:EarthObservationMetaData"/>
	<xs:complexType name="EarthObservationMetaDataType">
		<xs:complexContent mixed="true">
			<xs:extension base="eop:EarthObservationMetaDataType">
				<xs:sequence>
                    <xs:element name="license" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="licenseType" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
                                <xs:element name="resourceLink" type="linkType" minOccurs="1" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="versionIsd" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Version number of the image support data.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="orderId" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Order ID for this product generated by the RapidEye system.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pixelFormat" type="pixelFormatType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Number of bits per pixel in the image file. Unsigned (U) = no atmospheric correction. Signed (S) = atmospherically corrected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 
		===================================================================== 
	    EarthObservationEquipment Feature :
	  		+ extends eop:Sensor
	    ===================================================================== 
	-->
	
	<xs:element name="Sensor" type="re:sensorType" substitutionGroup="eop:Sensor"/>
	
	<!-- 
		===================================================================== 
	    Acquisition Feature :
	  		+ extends opt:Acquisition
	    ===================================================================== 
	-->
	
	<xs:element name="Acquisition" type="re:acquisitionType" substitutionGroup="opt:Acquisition"/>
	
	<!-- 
		===================================================================== 
	    Footprint Feature :
	  		+ extends eop:Footprint
	    ===================================================================== 
	-->
	
	<xs:element name="Footprint" type="re:footprintType" substitutionGroup="eop:Footprint"/>	
	
	<!-- 
		===================================================================== 
	    EarthObservationResult Feature :
	  		+ extends eop:ProductInformation => additional product 
	  		                                    information attributes (RE)
	    ===================================================================== 
	-->
	
	<xs:element name="ProductInformation" type="re:ProductInformationType" substitutionGroup="eop:ProductInformation"/>
	<xs:complexType name="ProductInformationType">
		<xs:complexContent>
			<xs:extension base="eop:ProductInformationType">
				<xs:sequence>
					<xs:element name="productFormat" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>File format of the delivered image product</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="spatialReferenceSystem" type="spatialReferenceSystemType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the spatial reference by referencing the EPSG list. The value -1 indicates an undefined spatial reference.</xs:documentation>
						</xs:annotation>
					</xs:element>						
					<xs:element name="resamplingKernel" type="resamplingKernelType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of the resampling kernel used e.g. CC, MTF etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numRows" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Image dimension information: Number of pixel lines in the image.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numColumns" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Image dimension information. Number of pixel rows in the image.</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="numBands" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Number of spectral bands included in the product.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="5"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="rowGsd" type="xs:float" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Row ground sampling distance of the RapidEye sensor.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="columnGsd" type="xs:float" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Column ground sampling distance of the RapidEye sensor.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="radiometricCorrectionApplied" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether a RapidEye sensor level product is radiometrically corrected or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geoCorrectionLevel" type="geoCorrectionLevelSensorType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether any geometric correction has been applied.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="elevationCorrectionApplied" type="elevationCorrectionAppliedSensorType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates how a RapidEye product is elevation-corrected.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="atmosphericCorrectionApplied" type="xs:boolean" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the RapidEye image is atmospherically corrected or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="atmosphericCorrectionParameters" type="atmosphericCorrectionParametersType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Present when atmospheric correction was performed</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 
		===================================================================== 
	    EarthObservationResult Feature : 	
	      	+ extends opt:EarthObservationResult 
	      	   => band specific attributes,
	              link to file containing spacecraft information metadata,
                  link to file containing rpc metadata
	    ===================================================================== 
	-->
	
	<xs:element name="EarthObservationResult" type="re:EarthObservationResultType" substitutionGroup="opt:EarthObservationResult"/>
	<xs:complexType name="EarthObservationResultType">
		<xs:complexContent>
			<xs:extension base="opt:EarthObservationResultType">
				<xs:sequence>
					<xs:element name="unusableDataPercentage" type="gml:MeasureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Must be expressed in percents</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bandSpecificMetadata" type="bandSpecificMetadataType" minOccurs="1" maxOccurs="5">
						<xs:annotation>
							<xs:documentation>Metadata specific to each spectral band. There will be one record for each spectral band in the product.</xs:documentation>
						</xs:annotation>						
					</xs:element>
                    <xs:element name="spacecraftInformationMetadataFile" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Name of XML file containing attitude, epheremis and time information for the image.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rpcMetadataFile" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Name of XML file containing RPC information for the image.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
